@mixin webkit-scale($scale: 0.83, $x: 0%, $y: 0%){
    -webkit-transform: scale($scale);
    -webkit-transform-origin: $x $y;
}

@mixin text-overflow() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin text-overflow-lines($line: 2){
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
}